body {
  width: 100%;
}

nav {
  width: 80vw;
  margin: 0 auto;
}

textarea,
input {
  padding: 10px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.navBtn {
  background: none;
}

.nav-input-search {
  margin-left: 8em;
  background-color: #f8f9fa;
  width: 20em !important;
  height: 2.5em !important;
  border: 0.1em solid #ced4da54;
}
.nav-input-search:focus {
  box-shadow: none !important;
}

.btnHover {
  background: none;
}
.background {
  height: 100vh;
}
.main-background {
  width: 60vw;
  margin: 0 auto;
  background-color: #ffffff;
}

.custom-card-titles {
  font-weight: bold;
  font-size: 1em;
  float: left;
  color: #0071eb;
  margin-bottom: 0px;
}

.custom-badge {
  background-color: rgb(243, 40, 135);
  font-size: 1em;
  color: white;
}
.card-title {
  font-size: 1em;
  font-weight: 600;
  color: #55585c !important;
}

.badge-icons {
  border: 0.1em solid rgb(129, 128, 128);
  background-color: rgb(129, 128, 128);
  border-radius: 10em;
  width: 2.8em;
  margin: 0 0 !important;
}

.avatar-icons {
  border: 0.1em solid rgb(129, 128, 128);
  background-color: rgb(129, 128, 128);
  border-radius: 10em;
  width: 1.3em;
  margin: 0 0 !important;
}

.card {
  width: 18vw;
  margin-top: 1em;
  float: right;
}

.list-group-item {
  font-weight: 600;
}

.div-organiser {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.inner-jumbotron {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn-custom-calender {
  width: 100%;
  color: #0071eb !important;
  font-weight: 600;
  background-color: #0072eb1c;
}
.btn-custom-calender:hover {
  width: 100%;
  color: #0071eb !important;
  font-weight: 600;
  background-color: #0072eb1c;
  border: 1px solid #0072eb98;
}

.div-one {
  background-color: #ffffff;
}

.div-two {
  background-color: #ffffff;
}

.custom-card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn-group-sizing {
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  width: 25%;
}

.box {
  width: 95%;
  border-bottom: 0.1em solid #ced4da;
}

.box-one-two {
  border: 0.1em solid #0071eb;
  border-radius: 0.5em;
  height: 20vh;
  font-weight: 600;
  color: #6c757d !important;
  background-color: #f8f9fa !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 1em;
  padding-bottom: 1em;

  height: 10vh;
}

.custom-jumbotron {
  background-color: white !important;
  border: 0.1em solid #0071eb !important;
}

.custom-jumbotron-unselected {
  background-color: white !important;
  border: 0.1em solid #ced4da !important;
}

.inner-boxes {
  border-top: none !important;
  border-bottom: none !important;
  text-align: center;
}

.custom-active-tabs {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;

  font-weight: 600 !important;
  color: #6c757d !important;
  border-color: #ced4da !important;
}

.custom-active-tabs:hover {
  font-weight: 600;
  color: #0071eb !important;
  border-right-color: #ced4da !important;
  border-left-color: #0071eb0a !important;
  border-bottom: 2px solid #0071eb !important;
  background-color: none !important;
}
